<nav class="navbar navbar-expand-md fixed-top navbar-transparent" color-on-scroll="150">
  <div class="container">
    <div class="navbar-translate">
      <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
      <%= link_to "Reading Challenge 2018", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to(edit_user_registration_path, class: "nav-link") do %>
          Hello <%= current_user.name %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url(<%= asset_path 'login-image.jpg' %>);">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <% if current_user.books.length > 0 %>
      <div class="row">
      <div class="col-md-6" style="
          text-align: center;
          margin: auto;
      ">
                <div class="card card-pricing">
                  <div class="card-body">
                    <h6 class="card-category">You have read</h6>
                    <h1 class="card-title"><%= current_user.books.pluck(:page_num).reduce(0, :+) %></h1>
                    <h6 class="card-category">pages so far.</h6>
                  </div>
                </div>
          </div>
          </div>
      <% end %>
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#follows" role="tab">Your Readings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#following" role="tab">Competition</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Tab panes -->
      <div class="tab-content following">
        <div class="tab-pane active" id="follows" role="tabpanel">
          <% if @readings.length == 0 %>
          <div class="text-center">
            <h3 class="text-muted">You haven't read any books yet :(</h3>
            <button type="button" class="btn btn-warning btn-round mt-4" data-toggle="modal" data-target="#newModal">Read one!</button>
          </div>
          <% else %>
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
              
              <% @readings.group_by(&:month).each do |month, readings| %>

                <div class="m-auto text-center">
                  <h6><%= month %></h6>
                </div>
                
                <ul class="list-unstyled follows">
                  <% readings.each do |r| %>
                  <!-- Edit Modal -->
                  <div class="modal fade" id="editModal-<%= r.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-center" id="exampleModalLabel">Edit reading</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body"> 
                          <%= render partial: 'reading_form', locals: {reading: r} %>
                        </div>
                      </div>
                    </div>
                  </div>                
                  <li>
                    <div class="row">
                      <div class="col-md-5 col-sm-4  ml-auto mr-auto">
                        <h6><%= r.book.title %> <small><i><%= r.book.page_num %></i></small><br/><small><%= r.book.author.name %></small></h6>
                      </div>
                      <div class="col-md-2 m-auto">
                        <% if r.status == 'Done' %>
                          <span class="label label-success">Done</span>
                        <% elsif r.status == 'Reading' %>
                          <span class="label label-warning">Reading</span>
                        <% end %>  
                      </div>
                      <div class="col-md-3 col-sm-2  m-auto">
                        <div class="form-check">
                          <label class="form-check-label pl-0">
                            <%= link_to reading_path(r), method: :delete, data: {confirm: "Are you sure?"} do %>
                            <button type="button" class="btn btn-default btn-just-icon btn-sm"><i class="nc-icon nc-simple-remove"></i></button>
                            <% end %>
                          </label>
                            <button type="button" class="btn btn-default btn-just-icon btn-sm" data-toggle="modal" data-target="#editModal-<%= r.id %>"><i class="nc-icon nc-settings-gear-65"></i></button>                          
                        </div>
                      </div>
                    </div>
                  </li>
                  <hr />
                  <% end %>
                </ul>

              <% end %>

            </div>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary btn-just-icon btn-lg" data-toggle="modal" data-target="#newModal"><i class="nc-icon nc-simple-add"></i></button>
          </div>
          <% end %>
        </div>

        <!-- New Modal -->
        <div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Add new reading</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body"> 
                <%= render partial: 'reading_form', locals: {reading: @readings.new} %>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane text-center" id="following" role="tabpanel">
          <% if @other_users.length == 0 %>
          <div class="text-center">
            <h3 class="text-muted">You are the only one in this competition</h3>
          </div>
          <% else %>     

          
          <div class="row" style="padding-left:15px;padding-right:15px;">
            <div class="col-md-6 ml-auto mr-auto">
              <ul class="list-unstyled follows">
          <% @other_users.each do |user| %>
                <li>
                  <div class="row">
                    <%= user.name %> read <%= user.readings.length %> books (<%= user.books.pluck(:page_num).reduce(0, :+) %> pages) so far.
                </li>
                <hr />
          <% end %>
              </ul>
            </div>
          </div>

          <% end %>  
        </div>
      </div>
    </div>
  </div>
</div>