<h1>Reading Challenge Dashboard</h1>

<% if user_signed_in? %>
<p>Hello <%= current_user.name %></p>
<li>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
</li>
<li>
<%= link_to('Edit registration', edit_user_registration_path) %>
</li>
<% else %>
<li>
<%= link_to('Login', new_user_session_path)  %>  
</li>
<li>
<%= link_to('Register', new_user_registration_path)  %>
</li>
<% end %>

<% if user_signed_in? %>

  <h2>Your readings so far:</h2>

  <table style="width:100%">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Status</th>
      <th>Month</th>
      <th>Number of Pages</th>
    </tr>
    <% @readings.each do |reading| %>
      <tr>
        <th><%= reading.book.title %></th>
        <th><%= reading.book.author.name %></th>
        <th><%= reading.status %></th>
        <th><%= reading.month %></th>
        <th><%= reading.book.page_num %></th>
        </tr>
    <% end %>
  </table>

<% end %>