<h1>Reading Challenge Dashboard</h1>

<% if user_signed_in? %>
<p>Hello <%= current_user.name %></p>
<li>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
</li>
<li>
<%= link_to('Edit registration', edit_user_registration_path) %>
</li>
<% else %>
<li>
<%= link_to('Login', new_user_session_path)  %>  
</li>
<li>
<%= link_to('Register', new_user_registration_path)  %>
</li>
<% end %>

<% if user_signed_in? %>

  <h2>Your readings so far:</h2>

  <table style="width:50%">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Status</th>
      <th>Month</th>
      <th>Number of Pages</th>
      <th></th>
      <th></th>
    </tr>
    <% @readings.each do |reading| %>
      <tr>
        <td><%= reading.book.title %></td>
        <td><%= reading.book.author.name %></td>
        <td><%= reading.status %></td>
        <td><%= reading.month %></td>
        <td><%= reading.book.page_num %></td>
        <td><%= link_to "Edit", edit_reading_path(reading) %></td>
        <td><%= link_to "Delete", reading_path(reading), method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </table>

  <%= link_to 'Add New Reading', new_reading_path %>
<% end %>