<nav class="navbar navbar-expand-md fixed-top navbar-transparent">
  <div class="container">
    <div class="navbar-translate">
      <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
      <%= link_to "Reading Challenge 2018", root_path, class: "navbar-brand" %>
    </div>
  </nav>
  <div class="wrapper">
    <div class="page-header" style="background-image: url(<%= asset_path 'login-image.jpg' %>);">
      <div class="filter"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 ml-auto mr-auto">
            <div class="card card-register">

              <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "register-form"}) do |f| %>
                
                <label>Email</label>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>

                <label>Password</label>
                <%= f.password_field :password, autocomplete: "off", class: "form-control" %>

                <% if devise_mapping.rememberable? -%>
                  <div class="form-check" style="padding-left: 0px">
                      <label class="form-check-label">
                          <%= f.check_box :remember_me, class: "form-check-input" %>
                          Remember Me?
                          <span class="form-check-sign"></span>
                      </label>
                  </div>                  
                <% end -%>

                <%= f.submit "Log in", class: "btn btn-danger btn-block btn-round" %>
                <br> 
                <p style="text-align:center;">OR</p>

              <% end %>

              <%= render "devise/shared/links" %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>